[2019-02-05 19:53] dpowell opened #1 "browserup-proxy CI/CD"
Configure AWS CodePipeline/CodeBuild for continuous builds and deploy of successful builds of `master` branch to Maven repository.

[2019-02-05 19:56] dpowell opened #2 "Rename BrowserMob to BrowserUp"
Java Packages, Maven Artifact Name, project name, etc. all in the browserup-proxy repo should be renamed to browserup, not browsermob.

[2019-02-05 19:59] dpowell opened #3 "Ensure build reliability"
Ensure all builds pass reliably, locally and in CI. @Ignore any particularly tests to fix and create an issue to resolve.

[2019-02-21 15:47] dpowell opened #8 "WebSocket Support"
Ensure WebSocket connections are proxied properly.

[2019-02-21 15:56] dpowell opened #9 "WebSocket Network Recording"
Collect WebSockets traffic in Proxy (extension to HAR?) for access via APIs for assertions from browserup/browserup-driver.

[2019-02-21 16:07] dpowell opened #10 "Performance Assertions API"
Provide API for evaluating performance of recorded network requests

[2019-02-22 08:35] epic-alex-rodionov opened #11 "Fix ignored tests"
Fix ignored tests

[2019-02-22 08:38] #3 closed, assigned to epic-alex-rodionov

[2019-02-22 12:53] dpowell opened #12 "Set entries[].time on HAR"
Currently the Har does not have the `time` field populated on entries. The specifications for this field are:

time [number] - Total elapsed time of the request in milliseconds. This is the sum of all timings available in the timings object (i.e. not including -1 values) .

The time value for the request must be equal to the sum of the timings supplied in this section (excluding any -1 values).

F

[2019-02-25 15:29] #2 closed, assigned to epic-alex-rodionov

[2019-02-25 15:30] #1 closed, assigned to epic-alex-rodionov

[2019-02-27 15:34] dpowell opened #13 "API to return all entries for HTTP requests that match a URL regular expression pattern"
Primarily to be used internally, create an API that returns the HAR `entries` for all recorded requests whose URL matches the regular expression provided.

[2019-02-27 15:35] dpowell opened #14 "API to return most recent entry for most recent HTTP request that matches a URL regular expression pattern"
Similar to #13, but only returns the most recently recorded matching entry.

[2019-02-27 15:39] dpowell opened #15 "REST API for asserting on timings of most recent URL matching a regular expression pattern"
Using #14, implement performance assertions methods for most recent URLs that match a given regular expression pattern accessible via REST.

assertUrlResponseTimeWithin - asserts on `log.entries[].time`

See https://github.com/browserup/browserup-driver/tree/new-api#url-content-and-performance

[2019-02-27 15:41] dpowell opened #16 "REST API for asserting on content of most recent URL matching a regular expression pattern"
Using #14, implement content assertions methods for most recent URL that matches a given regular expression pattern accessible via REST.

assertUrlContentContains
assertUrlContentDoesNotContain
assertUrlResponseHeaderContains
assertUrlResponseHeaderDoesNotContain
assertUrlStatusEquals
assertUrlContentLengthWithin
assertUrlContentLengthWithin

See https://github.com/browserup/browserup-driver/tree/

[2019-02-27 15:43] dpowell opened #17 "REST API for asserting on timings of all URLs matching a regular expression pattern"
Similar to #15, use #13 to implement performance assertions methods for all URLs that match a given regular expression pattern accessible via REST.

assertAllUrlsResponseTimeWithin - asserts on `log.entries[].time`

See https://github.com/browserup/browserup-driver/tree/new-api#url-content-and-performance

[2019-02-27 15:45] dpowell opened #18 "REST API for asserting on content of all URLs matching a regular expression pattern"
Similar to #16, use #13 to implement content assertions methods for all URLs that match a given regular expression pattern accessible via REST.

assertAnyUrlContentLengthWithin(Pattern.compile(".*"), 100000 /* bytes */);
assertAnyUrlContentContains("*.js", "Copyright");
assertAnyUrlContentDoesNotContain("*", "ERROR");
assertAnyUrlResponseHeaderContains("*/api/*"), "_sessionCookie");
assertAnyUrlSt

[2019-02-28 11:56] #11 closed, assigned to epic-alex-rodionov

[2019-02-28 11:59] #12 closed, assigned to epic-alex-rodionov

[2019-03-01 12:47] dpowell opened #22 "REST Interface to return all entries for HTTP requests that match a URL regular expression pattern"
REST interface to #13

[2019-03-14 07:48] kiturutin opened #24 "Fix unit test - com.browserup.bup.proxy.WhitelistTest"
com.browserup.bup.proxy.WhitelistTest > testWhitelistCannotShortCircuitCONNECT is failing at the moment on master branch locally and on CI.

[2019-03-15 07:21] #14 closed, assigned to kiturutin

[2019-03-15 07:27] #22 closed, assigned to kiturutin

[2019-03-15 07:28] #13 closed, assigned to kiturutin

[2019-03-15 07:29] #15 closed, assigned to kiturutin

[2019-03-18 12:34] #10 closed, assigned to nobody

[2019-03-26 11:00] #24 closed, assigned to epic-alex-rodionov

[2019-04-12 12:25] #16 closed, assigned to kiturutin

[2019-04-12 12:25] #17 closed, assigned to kiturutin

[2019-04-24 02:32] ericbeland opened #39 "Fix broken path references/tests pointing to /lightbody/ url references"
Prior to release, I searched our codebase for stale references to "lightbody" URLs that pointed to Patrick Lightbody, the original author's github. I found some references that look like we should both fix them, and also make sure the tests are being run and working. It looks like they should fail. If they should be ignored, we/I should understand why.

https://github.com/browserup/browserup-proxy

[2019-04-24 02:43] ericbeland opened #40 "Release 1.0.0!"
- Add build instructions to README.md

- Create the binary
- Create a releases page via github like so:  https://help.github.com/en/articles/creating-releases
- Add link to release location where to download our .jar to the README.md

[2019-04-24 18:17] #39 closed, assigned to epic-alex-rodionov

[2019-04-24 23:31] #40 closed

[2019-04-26 20:43] ericbeland opened #54 "assertNoBrokenImages, assertNoBrokenJavascriptLinks etc."
I'd like add assertNoBrokenLinks() and assertNoBrokenImages() to our assertions library. For this to work, we need to check every item of the appropriate type. Also perhaps assertNoBrokenJavascriptLinks(), assertNoBrokenStyleLinks(), and finally assertNoBrokenResources(), which asserts that *everything* on the page loaded.

https://www.guru99.com/find-broken-links-selenium-webdriver.html

[2019-04-26 20:54] ericbeland commented on #54
For link verification in assertNoBrokenLinks, we will need to make the request, and we should leave those results out of the HAR. Another consideration is that if we are chained to another proxy, we want to be sure we make those requests via that proxy or we would get false broken link results.

[2019-05-08 10:24] gredondogc opened #71 "Produce zip distribution including shell scripts and dependencies"
Is there an easy way to download all the binaries and instructions on how to use them?

BrowserMob Proxy had a zip file on the releases with some extra files (sh and bat) and ssl certificates.

[2019-05-08 19:11] dpowell commented on #71
The production of the zip artifact of browserup-proxy-dist was lost in the conversion from Maven to Gradle. We need to re-implement this with the [Gradle Distribution Plugin](https://docs.gradle.org/current/userguide/distribution_plugin.html).

https://github.com/browserup/browserup-proxy/blob/41ad94fc6bc6ba89f8aabd5a632565ce5ad2e88e/browsermob-dist/assembly.xml

[2019-05-13 05:44] #71 closed

[2019-05-13 11:55] epic-alex-rodionov commented on #54
@dpowell @ericbeland

1. Should we validate only internal(which belongs only to domain) links, images, JS files or all?
or we can have 3 methods instead on one: `assertNoBrokenLinks`, `assertNoBrokenInternalLinks`, `assertNoBrokenExternalLinks`?

2. Should we use `assertNoBrokenLinks()` without parameters or we can use it like: `assertNoBrokenLinks(Pattern url)`? Or we need both?

[2019-05-13 12:40] dpowell commented on #54
I don’t think “external only” is important, so perhaps `assertNoBrokenLinks(includeExternal=false)`?

[2019-05-14 07:54] epic-alex-rodionov commented on #54
Hi @dpowell @ericbeland
I have a silly question. Are these new assertions part of `browserup-proxy` https://github.com/browserup/browserup-proxy/blob/master/browserup-proxy-core/src/main/java/com/browserup/bup/BrowserUpProxyServer.java which should analyze somehow `har` information, get all entries and check that all statuses have code 200 for required mime-type?
[code]

Or this is a part of `brow

[2019-05-14 10:56] ericbeland commented on #54
Not a silly question at all. The assertions will live in the proxy, but be called via the driver. The reason for that is that if we put them in the proxy, we can share this functionality across any of the consuming drivers we publish without rewriting it in 5 languages.

[2019-05-14 14:50] dpowell commented on #54
Splitting the link probing out into a separate ticket, leaving this as "check the status of already recorded requests".

[2019-05-14 14:52] dpowell opened #75 "assertNoBrokenLinks"
Perform a HEAD request (following redirects) for all links on the rendered page, confirm that all return successful responses.

[2019-05-15 12:28] baclark774 opened #77 "Increase/Config Max Response Buffer Size"
Awesome work taking on the bmp proxy support!
One nice enhancement would be to allow for users to specify their own max response sizes:

`private static final int DEFAULT_MAXIMUM_RESPONSE_BUFFER_SIZE = 2097152;`

Currently, the 2Meg cap is too light for video and similarly large responses. My team has been building BMP from source for a while now and increasing this to 20Megs but ideally it'd be g

[2019-05-15 12:32] epic-alex-rodionov commented on #54
@dpowell @ericbeland Do we need REST API here?

[2019-05-15 12:33] ericbeland commented on #54
Yes.

[2019-05-15 12:36] dpowell commented on #77
Great suggestion, thanks!

[2019-05-15 20:32] dpowell commented on #71
@gredondogc Sorry for the delay on that, Gradle gave me a bit of a fit to get everything packaged with the appropriate POM information and signing and such. You can now download a zip or tar archive that includes all of the proxy software as well as a startup script and the SSL certificates and keys. Our intention is that this should be packaged and operate in the same way as the BrowserMob Proxy

[2019-05-17 10:51] epic-alex-rodionov commented on #54
PR https://github.com/browserup/browserup-proxy/pull/76 has been merged to https://github.com/browserup/browserup-proxy/tree/next_merge_with_master

[2019-05-17 10:51] #54 closed

[2019-05-18 23:22] matti commented on #77
Agreed, this would be great - I just built my own because of this.

[2019-05-27 14:33] ericbeland opened #83 "Review and Import PR's against BrowserMob Proxy"
I'd like to grab some of the low-hanging PR fruit from the browsermob proxy, but only if they seem 1-fairly predictable, and 2-fairly well implemented. Please review these and bring them in if they seem solid.

Credentials leak fix:
https://github.com/lightbody/browsermob-proxy/pull/756/files

Brotli support:
https://github.com/lightbody/browsermob-proxy/pull/783

Content Type Recognition:
https:/

[2019-05-30 02:46] ericbeland commented on #9
It would be best to follow the precent from here:

https://bugs.chromium.org/p/chromium/issues/detail?id=496006

[2019-05-31 00:08] jcbodnar opened #86 "Java 8?"
Is there anything specific that requires Java 11? I'm limited to Java 8 at the moment. Would be as simple as changing build.gradle?

[2019-05-31 00:12] dpowell commented on #86
@jcbodnar: you should be able to use this library within a Java 8 application. Nothing about it, or any dependencies, should require a Java 11 JRE.

[2019-05-31 02:51] ericbeland commented on #83
I opened these items as PR's that we can evaluate individually. I'm closing this issue out.

[2019-05-31 02:51] #83 closed

[2019-05-31 13:46] ericbeland commented on #86
If you have trouble @jcbodnar please let us know. Thanks!

[2019-06-04 06:20] s-belichenko opened #90 "Hi all! A couple of questions about your project"
What about removing the Via header from requests? Original BMP does not know how to do it.
What about displaying CONNECT method in HAR? Original BMP does not know how to do it too.

[2019-06-04 14:30] ericbeland commented on #90
Hi @s-belichenko. Some questions on what you're looking for. The har should capture connect time. Are you instead asking about something slightly different, like capturing traffic into the har at the protocol level instead of the http layer?

There's an issue on the original proxy repo that I see you've referenced here: https://github.com/lightbody/browsermob-proxy/issues/213

In it, jekh gives an

[2019-06-04 20:50] jrgp commented on #86
Hey, I also can't seem to run browserup-proxy on Java 8. I really want to migrate from browsermob-proxy and this seems to be a blocker for me.

[code]

My JDK:

[code]

[2019-06-04 20:58] dpowell commented on #86
@jrgp My apologies, that was unintentional. The proxy should work with Java 8+. We'll recompile the binaries and release a new build shortly!

[2019-06-04 21:00] jrgp commented on #86
Thanks! :D

[2019-06-04 21:36] dpowell commented on #86
@jrgp Give this build a shot?

https://github.com/browserup/browserup-proxy/releases/tag/v1.2.1

[2019-06-04 21:42] jrgp commented on #86
@dpowell it works! Thanks for the lightning fast turnaround!

[2019-06-04 21:43] dpowell commented on #86
Our pleasure, thanks for the equally fast confirmation!

[2019-06-04 21:43] #86 closed

[2019-06-04 21:46] jrgp opened #91 "Getting io.netty.util.ResourceLeakDetector leak exception"
browserup proxy is so far looks good for us. During local testing I'm seeing this exception periodically though:

[code]

Is this something you've seen before?

[2019-06-04 22:55] ericbeland commented on #91
We'll take a look. This message probably came in with the Netty upgrade, and the leak has most likely been there all along. Netty 4 added reference counting and logging of detected leaks.

[2019-06-05 03:17] ericbeland commented on #91
Reference on getting to the bottom of netty leaks: https://github.com/netty/netty/wiki/Reference-counted-objects

[2019-06-05 19:20] jrgp commented on #91
I wonder if this is problem is buried within the littleproxy codebase rather than being a bug in browserup-proxy.

[2019-06-05 20:28] ericbeland commented on #91
I think that is likely the case @jrgp as littleproxy brings in netty.

[2019-06-06 14:05] dpowell commented on #91
@jrgp Do you have a test case to reproduce this?

[2019-06-07 12:47] dpowell opened #94 "Describe REST API with OpenAPI definition"
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md

[2019-06-07 18:28] ericbeland commented on #94
This may go without saying, but there's a great HTML/markdown table on the README that has doc with descriptions and parameter descriptions that we can populate the swagger code descriptions with once the endpoints are in an annotatable format.

Once we can generate swagger doc, I'd also like to remove the HTML table hogging up space in our README. Then we just have the challenge of building the s

[2019-06-07 19:25] jrgp commented on #91
@dpowell I can't provide specific information of our internal usage of browserup-proxy and what resources we hit, but I'll give you a general overview:

I can repro this by using python selenium/python browsermob-proxy with "headless" Firefox hitting several pages that load lots of static assets as well as make lots of ajax calls.

Our usage pattern is: 1) make a new har 2) spawn firefox and make

[2019-06-12 02:29] ericbeland commented on #90
@s-belichenko Let us know if you have more questions. Closing for now.

[2019-06-12 02:29] #90 closed

[2019-06-18 23:22] ericbeland commented on #91
It looks like this issue most likely does live in littleproxy is related to the chained proxy. We're evaluating some attempts at fixing the littleproxy issue in forked branches. More to come.

[2019-06-18 23:54] jrgp commented on #91
Thanks for the update!

[2019-06-26 19:37] jrgp opened #106 "Support PKI auth against upstream proxy server [enhancement]"
**Is your feature request related to a problem? Please describe.**

In our use case, we'd like to be able to authenticate with an upstream https proxy server using PKI, and providing a client side certificate (which we'd generate on our end).

**Describe the solution you'd like**

It would be great if, while specifying the URL of an optional upstream proxy during har creation, we could also specif

[2019-06-26 19:49] ericbeland commented on #106
Would this be for the embedded mode? Would it work through the REST API?  What would the behavior be when the proxy is remote?

[2019-06-27 20:26] Blackbaud-JasonBodnar opened #108 "Bad Request due to allowRequestToOriginServer == false"
**Describe the bug**
I'm using browserup-proxy embedded in a spring boot application. I can successfully create and start the proxy server:

[code]

When I make a REST call to create a proxy I get a Bad Request:

[code]

Setting a break point in ClientToProxyConnection I see the bad request is coming because `!proxyServer.isAllowRequestsToOriginServer() && isRequestToOriginServer(httpRequest)` is

[2019-06-27 22:46] jrgp commented on #106
Thanks for following up. Sorry for not really clarifying.

This would be for when browserup runs as a standalone java app and exposes its rest API.

Behavior is currently:

Selenium firefox/etc -> browserup-proxy -> (our upstream proxy with no auth) -> internet

Proposed behavior:

Selenium firefox/etc -> browserup-proxy -> (an upstream proxy, requiring PKI auth) -> internet

It could be possible

[2019-06-27 23:22] ericbeland commented on #108
I admit to being a bit confused about your use-case. We have the browserup proxy REST artifact that you can spin up and talk to directly via it's REST API. It seems like maybe you are looking for something like that, but instead are wiring it up yourself?

Alternately, maybe you're embedding the proxy in an app to capture a har from the same app? Or is there something else going on I haven't under

[2019-06-28 15:06] Blackbaud-JasonBodnar commented on #108
I'm building a proxy that will allow our employees to test and demo different behavior in front end web applications. The idea is an employee will log into this service. (It will have it's own REST-based front end.) The back end will create a new proxy for the user (or use an existing one) and return the port number of the proxy. The employee will set their OS/browser/browser extension to use that

[2019-06-28 15:28] ericbeland commented on #108
Interesting use-case!

Normally, that littleproxy setting isn't something that needs to be tweaked, so I don't have much to offer there.  I'm not sure why that would be coming up or if it is a red herring.

I'm not clear on the lifecycle of a Spring request/response bean. Usually in web apps the work done in an action like that would be short lived and the embedded proxy would go out of scope and

[2019-07-05 13:44] #108 closed

[2019-07-08 20:12] ericbeland opened #115 "Debugging UI html page or JSON route [enhancement]"
**Is your feature request related to a problem? Please describe.**
As a developer or end-user, debugging the proxy is sometimes challenging. I find on stack overflow, that there's lots of people who get stuck debugging the proxy and can't tell why their code fails.

**Describe the solution you'd like**

I'd like a status page served on the root proxy address that lets you know what proxies have be

[2019-07-11 00:09] jrgp commented on #106
Hey, my security requirements changed and I no longer need this functionality. This can be closed.

[2019-07-11 00:09] #106 closed

[2019-07-11 00:15] ericbeland commented on #106
Hi Joe,

Thanks for the heads up! I did look into it a bit, although I didn't finish scoping out what would be involved. We could probably have gotten to it, but not for a month or two. If you see something else that make sense, let us know!

[2019-07-22 14:18] #94 closed

[2019-07-22 14:18] #18 closed

[2019-07-23 09:29] Rekoe opened #130 "the module suport for proxy ip?"
can the browserup-proxy suport for proxy ip ?

[2019-07-23 13:55] monitorjbl opened #131 "The HAR output is incompatible with the original HAR-Viewer"
**Describe the bug**
The output HAR for a proxy does not work with the [original HAR-Viewer](http://www.softwareishard.com/har/viewer/). When uploading the HAR output from browserup-proxy, the following output is observed:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a proxy
2. Enabled HAR logging for the proxy
3. Start a client browser using the proxy and navigate to any p

[2019-07-23 17:54] ericbeland opened #132 "[enhancement] Generate static HTML OpenAPI Documentation and add it to GitHub"
**Is your feature request related to a problem? Please describe.**
As a developer or tester, I have  no way to view the new openapi/swagger definitions.

**Describe the solution you'd like**
We should provide an online, hosted static output of the swagger UI documentation as HTML, so that our output is always up to date. We should regenerate this at build time automatically so it is always "correc

[2019-07-23 19:29] ericbeland opened #133 "[enhancement] Generate Rest Clients with Swagger CodeGen"
**Is your feature request related to a problem? Please describe.**

Right now, as a user, I cannot use the new API enhancements with clients in other languages.

**Describe the solution you'd like**

https://swagger.io/tools/swagger-codegen/

Now that we have swagger, we should be able to automatically generate clients using swagger codegen. I'd like to use it to generate Python, Ruby, and Javascr

[2019-07-24 13:09] wing328 commented on #133
@ericbeland you may also consider OpenAPI Generator to generate API clients for the REST API.

Disclosure: I'm the top contributor to both OpenAPI Generator and Swagger Codegen

[2019-07-24 13:30] ericbeland commented on #133
@wing328 Thanks for chiming in! I was looking around at this yesterday. I think, as a datapoint, the reason I jumped past OpenAPI was when I took a quick glance at the API clients table on the readme, I didn't see JavaScript jump out at me. We're still in the exploratory phases, so pointers are welcome.

Our use-cases are:
* Generate static HTML doc UI for github pages or our docs folder
* Auto-ge

[2019-07-24 13:35] wing328 commented on #133
There's a `javascript` client generator. Please give it a try. I'll update the table later to make it clearer that we support `javascript` client generator

[2019-07-24 13:49] Rekoe opened #134 "use proxy.setChainedProxy(...) the error"
why this error about?
err code
[code]

[2019-07-24 13:50] Rekoe commented on #134
is the error on version  2.1.5 ?

[2019-07-24 13:50] #130 closed

[2019-07-24 14:13] Rekoe commented on #134
@kiturutin can you show why that error about ? and how to fixed it ?

[2019-07-24 17:56] ericbeland commented on #134
We depend on LittleProxy. When LittleProxy went to the latest Netty, the new Netty implemented reference counting to protect against memory leaks. It is likely that this is a littleproxy bug.

[2019-07-25 02:00] Rekoe commented on #134
@ericbeland Can you have any way to fixed it ?

[2019-07-25 03:21] ericbeland commented on #134
Probably not until LittleProxy pulls in the fixes on the fork here https://github.com/verygoodsecurity/LittleProxy and then we update to it.

[2019-07-25 05:34] Rekoe commented on #134
@ericbeland that project is not update for a long time ?can you call the auther to fixed that issue?

[2019-07-25 12:25] Rekoe commented on #134
@ericbeland  i have the different code between https://github.com/verygoodsecurity/LittleProxy/blob/vgs-edition/src/main/java/org/littleshoot/proxy/impl/ProxyToServerConnection.java
and
https://github.com/mrog/LittleProxy/blob/master/src/main/java/org/littleshoot/proxy/impl/ProxyToServerConnection.java
you have use the mrog version have the error, but verygoodsecurity code not have.
i Suggest you

[2019-07-25 12:27] Rekoe commented on #134
the different code about the ``` ((ReferenceCounted)initialRequest).release();``` method use place,you can check the different!

[2019-07-26 09:27] nicexavi opened #137 "SSL Certificate - certificate_unknown - Android"
**Describe the bug**
Hi,
I'm trying to run the BrowserMobProxyServer with an Android device to monitor the traffic.

The problem, it's that I can't monitor the traffic that runs over HTTPS, **ONLY** for the apps.
The Chrome in my Android device, works fine with the BrowserUp Proxy, but I when I try to access to any app (like Play Store) it won't work, and it throws me a "javax.net.ssl.SSLHandshake

[2019-07-26 11:22] ericbeland commented on #137
Can you try installing ca-certificate-ec.cer ?

[2019-07-26 11:29] nicexavi commented on #137
I've installed it.

Throws the same error and in ChromeWebBrowser on Android, says me that the connection it's not private.

[2019-07-26 11:37] ericbeland commented on #137
You wrote that you installed "ca-certificate-rsa.cer" not "ca-certificate-ec.cer" which are two different files, so I just wanted to clarify. We ship with both.

[2019-07-26 11:40] nicexavi commented on #137
Sorry about the confusion.

First, I tried to install the RSA and didn't work.

Now, you said me to try the EC and I tried it with the same result.

[2019-07-26 11:55] Rekoe commented on #134
@ericbeland i have try the code test ,and then i fund use the code
[code]
find there is not any error,but when i use code to test have the error
[code]
so i think the error happen on the project browserup-proxy,you may to check it why?

[2019-07-26 12:59] Rekoe commented on #134
@ericbeland  the one way to fixed the error is to set the Class FilterSource maximumResponseBufferSizeInBytes =0 .

[2019-07-26 20:18] dpowell commented on #131
Fixed by #136

[2019-07-26 20:18] #131 closed

[2019-07-26 20:44] ericbeland commented on #137
Can you point me to the steps you followed to install it?

[2019-07-29 08:00] nicexavi commented on #137
1. I downloaded the certificates from: [https://github.com/browserup/browserup-proxy/tree/master/browserup-proxy-core/src/main/resources/sslSupport](url)
2. I sended the certificates via Telegram to my Android
3. I opened it in my Android and the Android asked me to confirm my pattern
4. I named the certificate with name "rsa-cert-littleproxy"
5. In the "Credential use" i selected "VPN and apps"
6

[2019-07-31 10:32] CreditTone commented on #77
怎么修改？哪个类？

[2019-08-01 07:11] #134 closed

[2019-08-05 08:05] nicexavi commented on #137
Any updates on this @ericbeland ?

Do you know what it could be?

Thanks!

[2019-08-06 01:48] ericbeland commented on #137
I'm sorry @nicexavi I don't know off-hand. It sounds like the android apps are maybe separate from the certificate acceptance for chrome. I don't really have any ideas how to fix that, though--I haven't worked on it with chrome apps as that isn't our use-case. We focus on browser based testing. If anyone else has ideas, please chime in.

[2019-08-08 11:14] NScheeren opened #143 "[enhancement] Write HAR from server to File"
Hi all,

I am writing an Arquillian Extension using your Proxy-Server to create a har file.

Problem: you do not yet have a method for this.

I tried using https://github.com/SmartBear/har-java, which turns out to be kinda tricky.

as a workaround/quick-fix until you can provide such method:
could you use the annotations @JsonPropertyOrder and @JsonProperty in your HarLog and other Har-classes? it

[2019-08-08 15:25] NScheeren commented on #143
so meanwhile i build this. Works for me, but i´m not sure it´ll work for everyone

private void writeHAR(File harFile, HarLog log) throws IOException {
		String version = log.getVersion();

		DateFormat dateFormat = new SimpleDateFormat("yyyy-MM-dd'T'hh:mm:ss.SSS'Z'");

		JsonGenerator jsonGenerator = new JsonFactory().createGenerator(harFile, JsonEncoding.UTF8);

		ObjectMapper objectMapper = new

[2019-08-16 13:06] Rekoe opened #148 "java.lang.ClassCastException error"
[code]

[2019-08-17 06:24] Rekoe commented on #148
@kiturutin Can fixed that issue?

[2019-08-20 01:42] #148 closed

[2019-08-20 01:43] ericbeland commented on #148
Does this issue keep happening @Rekoe ? Was there some resolution?

[2019-08-20 02:04] Rekoe commented on #148
No this issue is keep happening ,i mvoe the issue to that place https://github.com/mrog/LittleProxy/issues/37
may be the auther can fixed it ,i hope so
@ericbeland

[2019-08-23 20:19] ericbeland commented on #91
@dpowell There's a fix in the latest littleproxy for (at least one, maybe all) instances of this error.

[2019-08-29 00:38] jrgp commented on #91
Hi @ericbeland any update on this?

[2019-08-29 02:31] ericbeland commented on #91
Thanks for the reminder @jrgp. I think the change has been merged and the littleproxy release cut. I'll follow up on getting our new release out, hopefully tomorrow or Friday.

[2019-08-29 02:32] ericbeland commented on #91
I haven't looked in depth personally, and can't guarantee that this will hit the case in question, but fingers crossed.

[2019-08-30 16:55] ericbeland commented on #91
@jrgp We just cut a new release with an update to the latest LittleProxy. Let us know if it clears this error up for you or not. Cheers!

[2019-08-30 22:45] jrgp commented on #91
@ericbeland Thanks! Will let you know how it goes.

[2019-08-31 01:06] jrgp commented on #91
Just tried the latest release (2.0.1) and this error message seems to persist:

[code]

Browserup-proxy works fine otherwise. Maybe the error is benign.

[2019-09-03 18:26] jrgp commented on #91
Not sure if this is related, but I'm also seeing a bit of this:

[code]

[2019-09-16 19:04] Ardesco commented on #137
I'm going to guess it's related to Androids new cert policies, you know need to add an exclusion in the app codebase for custom certificates:

https://android-developers.googleblog.com/2016/07/changes-to-trusted-certificate.html

Also look at the Android section here, it gives you all the info you need to fix general Android 7+ certificate errors:

https://www.charlesproxy.com/documentation/using-

[2019-09-25 10:38] nicexavi commented on #137
Hi,

It's strange because with CharlesProxy there isn't any problem.

I mean... I can decrypt SSL and do Network Throttling with Charles certificate and all seems be working well.

With Browserup nope.

Where is the difference...?

[2019-09-25 13:13] Ardesco commented on #137
Charles proxy and and browserup proxy use different certificates.  I would guess that the exclusion has been added for the Charles proxy certificate, but not for the browserup certificate.

[2019-09-25 13:19] Ardesco commented on #137
You could always try making browserup use your Charles proxy certs and see if that works.  Go to Help -> SSL Proxying -> Export Charles root certificate and private key... and then use it like below:

https://github.com/browserup/browserup-proxy/blob/master/browserup-proxy-mitm/src/test/java/com/browserup/bup/mitm/example/CustomCAKeyStoreExample.java

[2019-09-26 13:46] nicexavi commented on #137
Solution:

Include the <network-security-config> directive and generate my own certificates.

Network security config:
https://android-developers.googleblog.com/2016/07/changes-to-trusted-certificate.html

Generate certs:
https://github.com/browserup/browserup-proxy/blob/master/browserup-proxy-mitm/src/test/java/com/browserup/bup/mitm/example/SaveGeneratedCAExample.java

Use certs:
https://github.

[2019-09-26 21:23] jrgp opened #178 "No response received / exit code 0"
**Describe the bug**
Rarely, there are requests with exit code 0 in the har response, with the error given being "No response received", and no response gets sent to the web browser.

This seems to be the same bug in upstream browsermob-proxy reported here: https://github.com/lightbody/browsermob-proxy/issues/713

We initially hit this with browsermob-proxy, and part of the reason why we switched

[2019-09-30 18:57] ericbeland commented on #178
Hi @jrgp We will take a look. Intermittent issues are fun! Do we have a way to rule out a network hiccup? I'm wondering if I wire up the proxy to point to another proxy, say Charles, and then hang the response to a request if exit code 0 is what we would see?

[2019-10-02 18:03] jrgp commented on #178
Hey @ericbeland . I'm not completely sure if a network hiccup is the cause, as the failure case doesn't really give a descriptive error message (eg some kind of timeout or something like that).

[2019-10-02 18:17] ericbeland commented on #178
That's a good point. If it *is* a timeout or hiccup, it seems like the appropriate result and logging isn't happening.

[2019-10-04 15:18] PulloutCouch opened #184 "Add ability to limit maximum number of active proxies at a given time."
This is a cross post from browsermob-proxy.

**Is your feature request related to a problem? Please describe.**
I currently have an application that utilizes BMP 2.1.4 to capture request/response data from a Selenium webpage load. My application is essentially and API wrapper that consists of many other abilities, but my current problem is that there's no method to limit the maximum number of prox

[2019-10-04 15:33] PulloutCouch commented on #184
I just noticed the `-proxyPortRange`. Perhaps this will work as a solution. I'll test it out.

[2019-10-04 15:49] PulloutCouch commented on #184
Yup the `-proxyPortRange` will work for my use case. Thanks guys!

[2019-10-04 15:49] #184 closed

[2019-10-07 03:49] ericbeland commented on #137
@nicexavi Would you making a README on this topic we can ship and link to from the main readme?  It seems like something we could document to leave future breadcrumbs for ourselves and others. Would you be interested in creating a PR with that info, some description of the problem and what you did?

[2019-10-09 10:43] nicexavi commented on #137
Hey!

Yes, I'll do a README to help the community.

Thanks!

[2019-10-14 18:03] ericbeland opened #188 "[enhancement] Create “Verify” (non-throwing) assert-like capability in the BrowserUp Proxy that maps 1-1 with Assert (assert can just throw if verify fails)"
**Is your feature request related to a problem? Please describe.**

Create “Verify” (non-throwing) assert-like capability in the BrowserUp Proxy that maps 1-1 with Assert (assert can just throw if verify fails), This pattern is followed in several Selenium tools. A user may want to check these items without failing an assertion necessarily.

**Describe the solution you'd like**
For every assert me

[2019-10-14 18:45] #115 closed

[2019-10-16 16:08] margasan commented on #143
@NScheeren original browsermob-proxy has such method. I don't understand why it was deleted.
https://github.com/lightbody/browsermob-proxy/blob/master/browsermob-core/src/main/java/net/lightbody/bmp/core/har/Har.java

[2019-10-16 17:07] ericbeland commented on #143
We're open to pull requests. I think this was probably removed when we switched to a different HAR representation.

[2019-10-24 18:49] ericbeland commented on #178
We are looking into new implementations for the underlying proxy and some littleproxy changes. When the project is done, it is worth testing this out again. The resource leak code may also be impacted.

[2019-11-04 09:30] alhafoudh opened #192 "Images are still saved to HAR if captureBinaryContent is false"
**Describe the bug**
When I setup new HAR capture with `"captureBinaryContent": false`, images (jpg, png, ...) are still saved to output HAR.

**To Reproduce**
Steps to reproduce the behavior:
1. Add Proxy with `"captureBinaryContent": false`
2. Go to 'https://www.google.com'
3. Look in HAR
4. See images with content
4. Check HAR size

**Expected behavior**
I expect images not to be captured when

[2019-11-06 19:05] jrgp commented on #178
I took a look at the underlying impl of this, and I think it works like this:

1. A har result object is created. The default values for status code and error message are 0 and "No response received"

2. Later on,  these default values are overwritten with the real status code and an empty value for error message

So in this edge case, step 2 is not happening.

Thoughts?

[2019-11-06 19:32] ericbeland commented on #178
That seems likely. For background, we have a project in-progress to get HTTP/2 working correctly in littleproxy and then in the browserup proxy, as well as websocket support following that. As it turns out, we didn't get http/2 for free from Netty via littleproxy and have to make some significant changes in littleproxy to adapt it. To make these changes we need to redesign the connection flow, whi

[2019-11-07 13:20] jayden-xie opened #193 "Multiple clients support and can not limit memory question"
I want to ask again here, nice to see you forked the formal project.
I have 2 questions:

1. Does one proxy server support multiple clients recording HAR? It's supported from my testing, but I want to confirm it as I see someone is asking this question and trying to spawn separate proxy for each client. https://github.com/lightbody/browsermob-proxy/issues/655

2. I tried to set xxm to limit memory

[2019-11-07 16:45] ericbeland commented on #193
1. yes

2. I'm not sure, can you use more? What is the limit you used?

[2019-11-08 01:42] jayden-xie commented on #193
2. Whatever I tried it got stuck in there. The serve got 64G memory, if I do not set any limit, the memory would keep going high to 10G, and it got stuck again, CPU usage of java process goes really high. Is there any other way to limit memory or can get it support long-time-running?

[2019-11-10 09:58] Nashati opened #194 "[enhancement] - Proxy chain exceptions URLs"
I want to define a list of URLs that will not go through the defined chain proxy.

One solution could be adding an exception list when setting up a chained proxy.
`void setChainedProxy(InetSocketAddress chainedProxyAddress, List<String> exceptionsUrls);`

[2019-11-12 16:37] Nashati commented on #8
Are there any plans to add this enhancement any time soon?

[2019-11-12 17:11] ericbeland commented on #8
Yes, it is the next planned item following getting HTTP/2 support corrected.

[2019-11-13 14:11] #194 closed

[2019-11-18 14:14] rosolko opened #199 "Wrong scope of public api's dependencies"
**Describe the bug**
All public available api's dependencies should be placed in `api` scope

_Note_: If I want to implement `ResponseFilter` I should manually add `io.netty:netty-codec:4.1.43.Final` library to my project. And it can produce library version incompatibility.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to implement `ResponseFilter`

**Expected behavior**
`io.netty.hand

[2019-11-20 13:25] rosolko commented on #199
Also there is a problem with `ittleproxy`. Without directly adding `xyz.rogfam:littleproxy:2.0.0-beta-5` to dependencies I've got an error about missing `HttpFiltersSource` class during `BrowserUpProxyServer` extends.

[2019-11-20 13:31] ericbeland commented on #199
We are open to pull requests if you have a fix. We're in the midst of some other implementations at the moment.

[2019-12-19 07:54] deavn opened #200 "integer overflow on HarTiming.getWait()"
I noticed below overflow occurs while running browserup after 12 hours. As per below exception, the time spent waiting for a response from the server (in milliseconds) may be larger than max integer in extreme network conditions.

java.lang.ArithmeticException: integer overflow
	at java.lang.Math.toIntExact(Math.java:1011)
	at com.browserup.harreader.model.HarTiming.getWait(HarTiming.java:233)
	at

[2019-12-27 12:17] gajananrmahajan opened #201 "NTLM login fails with 'AuthType NTLM is not supported for HTTP Authorization'"
I'm trying to automate NTLM login using browserup-proxy with intergration of Selenium WebDriver and it results into 'AuthType NTLM is not supported for HTTP Authorization'

**Steps to reproduce:**
Following is code snippet to achieve the same -

`       String path = "src/test/resources";
        File file = new File(path);
        String absolutePath = file.getAbsolutePath() + "\\chromedriver.exe

[2019-12-31 02:25] endlesshh commented on #77
proxy.addLastHttpFilterFactory(new ResponseFilterAdapter.FilterSource(new ResponseFilter() {
             @Override
             public void filterResponse(HttpResponse response, HttpMessageContents contents, HttpMessageInfo messageInfo) {

             }
},20971520)

[2020-01-03 10:49] 0M1N0U5 opened #202 "Error with MITM + Selenium"
**Describe the bug**
I have this example code:

` BrowserUpProxy browserUpServer = new BrowserUpProxyServer();
		    //browserUpServer.addFirstHttpFilterFactory(new RequestFilterAdapter.FilterSource(requestFilter, 83886080));
		    //browserUpServer.addLastHttpFilterFactory(new ResponseFilterAdapter.FilterSource(responseFilter, 83886080));
		    browserUpServer.start();

		    System.out.println("

[2020-01-03 12:42] #199 closed

[2020-01-21 18:57] asolntsev commented on #193
@jayden-xie can it be caused by this memory leak in littleproxy library? https://github.com/adamfisk/LittleProxy/issues/437

[2020-02-09 08:51] antoscha opened #225 "Errors while building"
I'm typing `gradle build -x test && gradle test` in the root of 2.0.1, getting following errors:
[code]
[code]
Gradle 6.1.1

[2020-02-19 15:02] kirov opened #228 "NumberFormatException when specifying upstream proxy"
**Describe the bug**
browserup-proxy throws me 500 Server Error when I specify an upstream proxy. I'm switching away from browsermob-proxy which worked with upstream proxies just fine, but hasn't updated for a while and lacks brotli support.

**To Reproduce**
Steps to reproduce the behavior:
[code]

[code]

[code]

**Expected behavior**
It should work just as fine as it does without an upstream pr

[2020-02-20 00:06] erickubenka commented on #228
I can reproduce the error of @kirov with his steps.

But I guess it is because data is handled different between browsermob and browserup.

May you should try it with passing a json on the curl with `-d ` option

`curl -d '{"httpProxy":"127.0.0.1:5555"}' -X "POST" "http://127.0.0.1:28700/proxy"`

[2020-02-20 14:21] kirov commented on #228
That worked, although it needed a slight modification of *browserup-proxy-py*

However I've encountered another bug (NullPointerException in  PUT rewrite), I will report it separately.

[2020-02-20 16:55] kirov opened #229 "NullPointerException when trying to add a rewrite"
**Describe the bug**
browserup-proxy throws me a 500 Server Error when I'm trying to add a rewrite via REST API.

**To Reproduce**
[code]

[code]
[code]

[code]

**Expected behavior**
It shouldn't fail or at least it should show a meaningful error message.

**Please complete the following information:**
- Docker image from https://hub.docker.com/r/autifyhq/browserup-proxy
- It uses OpenJDK 14
- br

[2020-03-13 14:32] csharsha opened #243 "Does BrowserUp-proxy supports HTTP H2 protocol applications?"
Hi,

We have web application built on HTTP H2 protocol, but when we use BrowserUp proxy and browse the application all the web requests are using HTTP 1.1 protocol. When the application is browsed without BrowserUp, we are able to see all the requests as HTTP H2. Does BrowserUp proxy support only HTTP 1.1 protocol?

See the screenshots of Chrome F12 Devtool for both the scenarios.

Application nav

[2020-03-13 15:10] csharsha commented on #8
any updates on getting HTTP/2 support?

[2020-03-17 07:58] doublemarket opened #245 "Doesn't work as expected with JDK10+"
**Describe the bug**

When using browserup-proxy with JDK10+, it's not possible to set a custom port when creating a new proxy config. This is because parsing the data in a POST request doesn't work as expected because [mvel](https://github.com/mvel/mvel) which is contained in browserup-proxy can't run with JDK10+ with [an issue](https://github.com/mvel/mvel/issues/159).

**To Reproduce**

Refer t

[2020-04-16 13:09] kroegr opened #254 "BrowserUpProxy.addRequestFilter is not working on localhost when system under test is also on localhost"
I want to start the automated tests on localhost against my local system to check that the tests still green/functional after working on it.
The Webapplication is a Single-Page-Application and for security-reasons are HTTP-Header injected by a thirdparty-proxy for authentication. For the automated tests I use browserup-proxy to emulate that thirdparty-proxy and inject the HTTP-Header with the need

[2020-04-17 07:10] kroegr commented on #254
Good Morning!

I have found the solution, it's not a problem or bug with the proxy or anything else.

Firefox/geckodriver is per default configured to not allow any proxy hijack anything on localhost. It's possible to allow that.
[code]

[2020-04-17 07:11] #254 closed

[2020-05-05 18:13] #143 closed

[2020-05-08 09:35] vlsi opened #258 "CONNECT host:port request produces MalformedURLException: unknown protocol: ..."
**Describe the bug**
A clear and concise description of what the bug is.

`url = new URL(httpRequest.uri());` throws exceptions because the URI does not always include the protocol.

I suggest that the proxy should recognize such URIs and handle them appropriately (e.g. by adding a dummy `https://` if missing)

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**

There

[2020-05-08 20:41] vinogradoff opened #259 "Add removeRequestFilter() and removeResponseFilter() methods for flexibility of processing"
It was already requested for browsermob-proxy 5 years ago.
Probably something like this:

[code]

There are cases where you need some action (e.g. asserts) only for some part of the flow, and then not - or even the opposite of those.

Please comment if there are known workarounds at least

[2020-05-14 02:04] ghost opened #260 "Support SOCKS upstream proxy (already available in mrog/LittleProxy)"
It'd be great to get support for this. This has already been merged here:
https://github.com/mrog/LittleProxy/pull/17

Original pull request:
https://github.com/adamfisk/LittleProxy/pull/417

[2020-05-21 07:07] doublemarket commented on #245
Note that this is confirmed with 2.0.1.

[2020-05-21 07:33] doublemarket opened #263 "2.1.0 can't start in standalone mode"
**Describe the bug**

With the [2.1.0 zip file](https://github.com/browserup/browserup-proxy/releases/download/v2.1.0/browserup-proxy-2.1.0.zip), browserup-proxy can't start with the following error:

[code]

(refer to the attached [bup.log](https://github.com/browserup/browserup-proxy/files/4661029/bup.log) for the detail)

**To Reproduce**
Steps to reproduce the behavior:
1. Download the zip
2.

[2020-05-21 12:25] PAVITHRA001 commented on #263
Getting the same issue as above

[2020-05-22 03:50] techhemant opened #264 "[Query] Does it support non Java selenium projects?"
I'm particularly interested in capturing HAR in phpwebdriver framework.
https://github.com/php-webdriver/php-webdriver

Do we have any examples or guidelines to use it wit non Java projects?

[2020-05-25 14:04] ericbeland commented on #264
It does. You should be able to find any of the old "browsermob proxy" client libraries and follow their instructions. Just replace that binary with this one.

[2020-05-25 14:10] ericbeland commented on #243
We originally thought we got this for free when our LittleProxy dependency updated to the latest Netty. It turns out this actually required much more, and when we dug in to littleproxy, realized it would take a littleproxy rewrite of that dependency. We are currently in-flight with a rewrite to get HTTP going. We are going to use an MITMProxy fork and make our API work through that.

[2020-05-25 18:43] thiagotrentin commented on #263
Same issue here, although running on windows environment
Previous version still working fine

[2020-05-26 05:23] erickubenka commented on #263
Same issue here.
Not running on windows or linux as well. :(

[2020-05-26 17:17] #263 closed

[2020-05-26 17:58] dpowell commented on #263
This should be fixed now for Java 8 - 13, please let us know if you continue to have issues.

[2020-06-06 14:02] 2x2xplz opened #274 "proxy cannot be restarted"
**Describe the bug**
proxy thinks it is in both `started` and `stopped` modes simultaneously. This is a problem because it cannot be restarted (throws an IllegalState error)

**To Reproduce**
Steps to reproduce the behavior (Kotlin):
[code]

**Expected behavior**
after `buProxy.stop()` , I expect `isStarted` to be false, and subsequent `buProxy.start()` command would not throw an "already started"

[2020-06-06 14:12] 2x2xplz commented on #274
not sure why I didn't see this earlier, but apparently this behavior is originally by design: https://github.com/lightbody/browsermob-proxy/issues/264#issuecomment-112933259

With that said, this is a new project and new company, perhaps it is worth reconsidering whether no-restarts is the best option, or if it should be implemented.

[2020-06-09 15:42] weendigo opened #275 "browserup-proxy.bat throws "The input line is too long." error"
**Describe the bug**
Unable to start BUP 2.1.0 or 2.1.1 using browserup-proxy.bat.

Using Powershell and cmd exhibits the same behavior:

**To Reproduce**
Steps to reproduce the behavior:
1. Download 2.1.0 or 2.1.1 release zip
2. Unzip
3. Go to ...\browserup-proxy-2.1.1-SNAPSHOT\bin folder
4. Try to launch browserup-proxy.bat
5. Proxy not started, error shown instead

**Expected behavior**
BUP sho

[2020-06-09 22:14] ericbeland commented on #275
We don't have a windows machine for testing this available at the moment, however, there are some stack overflow cases where this type of error happens when the PATH variable has been polluted accidentally.  Can you check on your path variable?  What if you manually edit the batch file(save a copy)--can you make it so it works?

https://stackoverflow.com/questions/16821784/input-line-is-too-long-e

[2020-06-09 22:14] #264 closed

[2020-06-10 05:31] erickubenka commented on #275
I can confirm this issue using the `bin/browserup-proxy.bat`-File.
Error is line 85

[code]

This command is too long for windows command line, because limits are 2047, respectively 8191 characters, depending on operating system.
See: https://support.microsoft.com/de-de/help/830473.

Further this will lead to an error on line 89, where this vairable `CLASSPATH` will be used to start  browserup pro

[2020-06-11 10:32] weendigo opened #277 "Can't start proxy on custom port with java tools like RestAssured and Java 11 HTTP Client"
**Describe the bug**
We are automating multiple proxies initialization on custom ports using [REST Assured](http://rest-assured.io/) (or and Java 11 HTTP client).
Attempts to start proxy on custom port with POST calls using the aforementioned tools end up with proxy starting but not on specified port.

Code for REST Assured:
[code]

Code for Java HTTP client:
[code]

**To Reproduce**
Steps to repr

[2020-06-11 10:50] weendigo commented on #277
Oh crap, is this a dupe of #245?

[2020-06-15 07:51] LavanyaReddy-Idamakanti opened #279 "BUP with firefox browser throwing 'javax.net.ssl.SSLException: Received fatal alert: unknown_ca'"
I would like to block some url in my automation suite. For that I'm using BUP.
When I'm trying to set proxy in my selenium test using BUP, it's working for **Chrome**. But, facing below issue with **Firefox(Version:76.0.1)**

[LittleProxy-0-ClientToProxyWorker-0] ERROR org.littleshoot.proxy.impl.ClientToProxyConnection - (AWAITING_INITIAL) [id: 0x7d41f315, L:0.0.0.0/0.0.0.0:65530 ! R:/fe80:0:0:0:5

[2020-06-22 15:25] johnjbarton opened #281 "Adopt appropriate terminology: AllowList and BlockList"
Your API should use feature-oriented nouns like 'skip' or 'allow' and phase out antiquated non-descriptive color based names:
https://github.com/browserup/browserup-proxy/search?q=blacklist&unscoped_q=blacklist

Obviously this will require adding the API and deprecating the old usage.

[2020-06-23 20:42] ericbeland commented on #281
This should be workable. "Skip" isn't clear to me whether it skips the proxy, or skips making the request. We will use "Allow" list and "Block" list.

The next major release will have some breaking changes to the API as we're moving to wrap mitmproxy in place of littleproxy, so we will ship this at that point.

[2020-06-24 03:16] mtrea opened #283 ""rewrite" endpoint causes redirect to "replace+replace", not "replace""
Hi,

I see "PUT /proxy/[port]/rewrite" documented in the README, but it's not having the anticipated effect. In short, if I send the payload:
{
  "matchRegex": ".*",
  "replace": "http://example.com"
}

it seems to substitute the replacement URL twice. Instead of going to "http://example.com" it attempts to go to "http://example.comhttp://example.com".

I recognize that this is a sparse bug report

[2020-06-24 04:10] ericbeland commented on #277
Closing as dup.

[2020-06-24 04:10] #277 closed

[2020-06-24 04:11] ericbeland commented on #274
We have a new implementation coming out. I'm closing for now. I think we may end up doing this along the way, though.

[2020-06-24 04:11] #274 closed

[2020-06-24 04:13] ericbeland commented on #279
We're making some major changes to the underlying proxy which will also affect certificate authority handling--we will be relying on mitmproxy going forward. This will likely render this issue moot. Please reopen if the next version doesn't handle it better.

[2020-06-24 04:13] #279 closed

[2020-06-24 04:15] ericbeland commented on #245
Can you confirm this with the latest and reopen if it still occurs?

[2020-06-24 04:15] #245 closed

[2020-06-24 04:16] ericbeland commented on #225
Please confirm with the latest and reopen if needed.

[2020-06-24 04:16] #225 closed

[2020-06-24 13:57] antoscha opened #284 "Two test failed"
**Describe the bug**
testClientBindAddressCannotConnect, testHttpsConnectTimeoutCapturedInHar

**To Reproduce**
Steps to reproduce the behavior:
1. `gradle build -x test`
2. `gradle test`

**Expected behavior**
All tests are passed

**Screenshots**
[code]
[code]

**Please complete the following information:**
 - OS: Arch Linux
 - Browser Mozilla Firefox
 - Version 77.0.1

**Additional context**
Ja

[2020-06-25 08:17] weendigo commented on #245
I can't figure how to reopen but the #277 was closed as duplicate of this one and that is repro in 2.1.0 and 2.1.1 as well.

[2020-06-29 08:20] Eiygy1992 opened #287 "[enhancement]"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-29 13:40] natalliabarouka opened #288 "NPE when failing to decode response from server"
We are seeing NPE while BrowserUp sessions while capturing data from https://smartystreets.com/products/apis/us-street-api

Steps to reproduce the behavior:
1. Add Proxy - we use built-in Selenium mode, version 2.1.1
2. Go to us-autocomplete.api.smartystreets.com
3. Capture requests
4. See error

**Expected behavior**
No NPE errors in log.
See part of log related to the issue below:

`2020-06-29 1

[2020-06-29 17:07] Kremliovskyi opened #289 "Selenium, Embedded, Gradle: No internet when running embedded proxy with gradle and run tests with intellij idea"
**To Reproduce**
Steps to reproduce the behavior:
1. Setup gradle project in intellij idea with embedded BrowserUp proxy:
[code]

 2. Select Run tests using intellij idea
![Screenshot_2](https://user-images.githubusercontent.com/12884831/86033884-58e17580-ba42-11ea-8578-eea483a800a1.png)

3. Execute simple test like:
[code]
NOTE: Test above is ran in selenoid, tried pure WebDriver and result is th

[2020-07-01 19:03] #283 closed

[2020-07-03 12:29] PetroAndrushchak commented on #289
Also, have the same issue

[2020-07-03 21:03] mileyvirus commented on #263
Still won't work for me unfortunately. Tried each and every one of these java versions:
[code]

I'm on
[code]

[2020-07-09 12:22] Pareshdanej opened #291 "OutOfMemoryError is getting during ProxyToServerConnection"
<version>2.1.1</version>

Issue Description:
We are facing the  outOfMemory issue while running the embeded browser up proxy in docker container. Tests are running in parallel threads, each test-group is started in separate docker container, each testGroup has its own proxy.  Requesting you to please check.

Please let me know if any other information is required

2020-07-09 11:53:46.147 ERROR 76

[2020-07-09 14:28] evgeny-tumashchick commented on #8
Hi, maybe you have any updates for this enhancement? We wanted to use your proxy as standalone server for our automation tests infrastructure and really impressed by opportunities that it provides. Unfortunately our application under tests using web socket calls, so currently this is a blocker for us :(

[2020-07-13 12:45] umeshPathak opened #294 "Empty HAR file"
I am not able to create the HAR file using the code provided on your github home page. I am using Java 8 and ChromeDriver. The har file does not have entries. It has below details
HAr File
{
	"log": {
		"version": "1.1",
		"creator": {
			"name": "BrowserUp Proxy",
			"version": "${project.version}"
		},
		"pages": [
			{
				"startedDateTime": "2020-07-13T12:45:02.053+00:00",
				"id": "MY_HAR",

[2020-07-30 20:36] Murali54 opened #297 "Removing sitebricks dependency"
browserup-proxy currently has a dependency on https://github.com/dhanji/sitebricks. This seems to be an abandoned project and has no activity for the last 5 years. Are there any plans of using other alternative solutions?

`sitebricks` has security vulnerabilities https://github.com/dhanji/sitebricks/pull/90

[2020-07-30 20:41] ericbeland commented on #297
Yes, that's a goal, however we have business priorities that come before it, so it may be a bit. We welcome pull requests.

[2020-07-30 21:35] Murali54 commented on #297
Thanks, Eric for the quick response! I can definitely give it a try. Please advice.

[2020-07-30 22:35] ericbeland commented on #297
We've started down the road of deprecating sitebricks.  There are still usages in the part of the proxy that is used to control proxy resources.  https://github.com/browserup/browserup-proxy/search?q=sitebricks&unscoped_q=sitebricks

In our new assertions API, we are working from swagger and following a pattern that looks more like this for our API:

https://github.com/browserup/browserup-proxy/bl

[2020-08-11 23:49] changho-hur opened #299 "It is not running in java 8"
I am testing in selenium with java(spring, maven)

use below dependency
<dependency>
        <groupId>com.browserup</groupId>
        <artifactId>browserup-proxy-core</artifactId>
        <version>1.0.0</version>
        <scope>test</scope>
    </dependency>

if I run. Exception occured

Caused by: java.lang.UnsupportedClassVersionError: com/browserup/bup/BrowserUpProxyServer has been compiled by

[2020-08-12 06:03] erickubenka commented on #299
Hi @changho-hur ,

Have you tried version 2.1.1 (latest release)?

[2020-08-14 01:05] changho-hur commented on #299
it works. thank you.

[2020-08-14 12:24] Navakanthtunga opened #300 "Wheile trying to integrate with selenium i am getting error as Your connection is not private ...... NET::ERR_CERT_AUTHORITY_INVALID"
**Description**
While trying to integrate and run with selenium unfortunately I am getting the error as "Your connection is not private
Attackers might be trying to steal your information from www.google.com (for example, passwords, messages or credit cards). Learn more
NET::ERR_CERT_AUTHORITY_INVALID"

**Code used**
public class CaptureLogs {

	public String sFileName = "D://SeleniumEasy.har";

[2020-08-18 18:54] Gordiievskyi commented on #77
Hi Guys,

I use BUP in Standalone Mode. How can I configure the size(my stack is node js), I have an error like @CreditTone described on BMP git, and only in case I add response filter. Anyway if there is an endpoint to set the size or workaround I will appreciate

[2020-08-19 17:38] Gordiievskyi commented on #193
@jayden-xie Sorry I have a question about multiple client per har and your testing. Lets say I created a proxy on port 4081, and lets say one user from chrome and one user from firefox use it concurrently as a proxy, both access same site www.google.com, and at the end your can retrieve two hars, each har have only one user agents traffic?

The question and the answer are so abstract so I can't un

[2020-08-28 18:42] Gordiievskyi opened #301 "Response entity too large"
**Describe the bug**
Сaught an exception on ProxyToServerConnection
In standalone mode I got Response entity too large when enable filter:
[code]
I see there is same issue for browsermob and comment from @ericbeland with link here https://github.com/browserup/browserup-proxy/issues/77. But workaroun there is for embedded mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Create proxy serv

[2020-08-28 19:02] Gordiievskyi opened #302 "set log level doesn't work for standalone mode"
**Describe the bug**
Log level isn't set by yaml as documentation states [git docs](https://github.com/browserup/browserup-proxy#loggingl).

First want to  say thanks for doing this great project.
Guys I realy need it to debug, I have a very strange errors when part of content is missing but info level do not show anything

**To Reproduce**
Steps to reproduce the behavior:
1. Download proxy zip
2.

[2020-08-28 20:46] Gordiievskyi opened #303 "Error ProxyToServerConnection (DISCONNECTED)"
**Describe the bug**
In my logs I often see next error message:
[code]

**To Reproduce**
Steps to reproduce the behavior:
Steps to reproduce the behavior:
1. Create proxy server on some port, in my case 8080: `./browserup-proxy-2.0.1/bin/browserup-proxy -port 8080`
2. Create new proxy `curl --location --request POST '0.0.0.0:8080/proxy?trustAllServers=true&port=8081'`
3. Start trace the traffic :

[2020-08-31 07:32] mirosyn opened #304 "savePrivateKeyAsPemFile, passwordForPrivateKey cannot be null even though java docs say it can be"
**Describe the bug**
Method's RootCertificateGenerator.savePrivateKeyAsPemFile(File file, String passwordForPrivateKey) java docs says that passwordForPrivateKey can be null, but if password is set to null method BouncyCastleSecurityProviderTool .encodePrivateKeyAsPem will throw `IllegalArgumentException("You must specify a password when serializing a private key");`

Method's java docs:
[code]

*

[2020-09-01 22:09] ericbeland commented on #303
We're rewriting to remove the netty/littleproxy dependency (where this is happening) and will instead be using MITMproxy. Closing this for now as the code where it is happening is getting bulldozed.

[2020-09-01 22:09] #303 closed

[2020-09-01 22:11] ericbeland commented on #301
If this is an issue after the next version lands, please reopen. The issue will most likely go away as we replace the proxy dependency.

[2020-09-01 22:11] #301 closed

[2020-09-01 22:13] #299 closed

[2020-09-01 22:14] ericbeland commented on #294
Can you try with the very latest version? It should work.

[2020-09-01 22:14] #294 closed

[2020-09-01 22:15] ericbeland commented on #291
We are rewriting this area and replacing our depdencies. Please reopen after the next major release if this is still occurring. Thanks!

[2020-09-01 22:15] #291 closed

[2020-09-01 22:15] #287 closed

[2020-09-02 08:18] amjd commented on #303
@ericbeland: Sorry for the off-topic question, but would appreciate if you could answer this: Would switching to MITMproxy still keep the BUP Java API and features mostly intact or there's going to be significant change in functionality?

[2020-09-02 08:23] amjd opened #305 "Question: Is HTTP/2 supported?"
Does BUP support HTTP/2 at this point? From [v1.0.0's release notes](https://github.com/browserup/browserup-proxy/releases/tag/v1.0.0) I figured it does. However, when I tried it with some HTTP/2 websites, the HAR still showed the version as 1.1.

If it is supported, are there any additional steps or settings required to make it work?

**Edit:**
Didn't notice the other issue (#243) earlier as it d

[2020-09-02 12:50] ericbeland commented on #305
Sure! We have an alpha we are working on that uses MITM Proxy and replaces littleproxy. MITM has a python dependency so we are going to have to either require Python as an installation, or possibly use a docker container as the artifact if that makes sense.

Right now, we have it implemented, but are working through some bugs. Packaging it up is still on our to-do. Probably it will be  a couple mo

[2020-09-02 13:05] ericbeland commented on #303
That's a great question. This will be a breaking API change. Intention-wise, the goal was not to drop functionality unless forced to. Areas we've been forced to that I remember offhand might include dynamic filter limitations, slowing down requests for bandwidth simulation, allowlist/blocklist. There could be more.

On the flip side, we will work with HTTP/2 and websockets correctly which is becom

[2020-09-02 17:58] amjd commented on #305
Thanks for the response. Sure, I'd be very interested in checking out the alpha / beta. :)

You can reach me on amjad.4@gmail.com

[2020-09-02 17:58] #305 closed

[2020-09-02 18:33] amjd commented on #303
That doesn't sound too bad. I'm sure the pros outweigh the cons, and MITMproxy should make for a more stable (and actively maintained) base to build on.

[2020-09-02 22:03] Gordiievskyi commented on #305
@ericbeland I'de like to experiment, and I think docker is a good solution because it's platform agnostic.But I can't guaranty I will testing asap I receive it, have current project work load

[2020-09-02 22:07] Gordiievskyi commented on #303
@ericbeland I use black list to prevent some overlays to load, is this functionality absent at all or just has changed endpoint and/or params ? Same with filters - I use them to simulate 'disable cache' so question is same.

[2020-09-02 23:18] ericbeland commented on #303
It might be changed endpoint or params. We need allow/block for ourselves, so I'd anticipate that will be there. I'd have to look through on the disable cache question.

[2020-09-03 08:56] amjd commented on #303
@Gordiievskyi How do you use filters to disable cache?

[2020-09-03 13:08] Gordiievskyi commented on #303
@amjd https://stackoverflow.com/questions/46791043/selenium-chrome-driver-without-cache/62701856#62701856

[2020-09-07 05:55] umeshPathak commented on #294
I used latest one. But still the har is empty

[2020-09-14 13:09] akondas commented on #137
If someone is not bothered by an unsecured certificate, there is one more solution (it took me a while to find it, so I share):
[code]

[2020-10-09 06:20] akondas commented on #279
In the meantime, there is no way around it?

[2020-10-28 06:12] techhemant opened #313 "Question - Is using standalone the only way to use it in a php-webdriver project?"

[2020-10-28 10:59] ericbeland commented on #313
Yes, that is the case.

[2020-11-04 19:48] amjd opened #315 "Content-Encoding: gzip header is not present when response filter is added"
**Describe the bug**
When you add a custom response filter using any of the methods (`BrowserUpProxy#addResponseFilter`, `BrowserUpProxy#addFirstHttpFilterFactory`, `BrowserUpProxy#addLastHttpFilterFactory`), `Content-Encoding: gzip` header does not appear in the HAR, despite the server sending it. In addition, `Content-Length` header also seems to get updated with the uncompressed size of the res

[2020-11-09 22:15] pwntester opened #316 "Security Vulnerability"
What would be the right contact to report a security vulnerabilty? thanks!

[2020-11-10 01:36] ericbeland commented on #316
Hi, you can send it to me. On google's email service my address is ebeland.

[2020-11-10 09:03] #316 closed

[2020-11-12 19:55] akaczinski commented on #8
Hi there,
Any updates for this? My current use case just needs to know if Chrome is seeing websocket connections being made. Thanks!

[2020-11-25 18:06] fkrivsky opened #319 "Can't start proxy on custom port with java tools like RestAssured and Java 11 HTTP Client"
### Describe the bug
We are automating multiple proxies initialization on custom ports using REST Assured (or and Java 11 HTTP client).
Attempts to start proxy on custom port with POST calls using the aforementioned tools end up with proxy starting but not on specified port.

### Code for REST Assured:
[code]

### Code for Java HTTP client:
[code]
### To Reproduce
Steps to reproduce the behavior:

[2020-12-02 07:29] derRichter opened #320 "BrowserUp Proxy can't rerun test. Cant start because is started, cant stop because is stopped?!"
We make a test run, an stop the proxy after the run with `proxy.stop()` or `proxy.start()`
The wen make a new instance `private static BrowserUpProxy	browserupProxy	= new BrowserUpProxyServer();`

on "proxy.start()" we got the error `java.lang.IllegalStateException: Proxy server is already started. Not restarting`
ok
we think we check if the proxy is startet with `proxy.isStartet()` and got true,

[2020-12-04 14:29] alex4200 opened #335 "No HAR information seems to be generated."
**Describe the bug**

I followed the instructions given [HERE](https://github.com/AutomatedTester/browsermob-proxy-py) in order to use this tool for python.

But when I try to use it I get a Warning

[code]

and an error:
[code]

**To Reproduce**

Steps to reproduce the behavior:

1. `pip install git+https://github.com/browserup/browserup-proxy-py.git@master#egg=browserup-proxy==0.1.0`
2. Executed

[2020-12-05 15:53] ericbeland commented on #335
Unfortunately, we don't control that client library. We have an upcoming version where were will be generating our API clients (including Python) with swagger. That should hopefully provide a way to get around this.

[2020-12-05 15:53] #335 closed

[2020-12-05 15:56] ericbeland commented on #260
We are transitioning to mitm-proxy based implementation instead of littleproxy. I think this may work in that case.

[2020-12-05 15:56] #260 closed

[2020-12-05 15:57] ericbeland commented on #243
I'm closing this for now while we get the rewrite out.

[2020-12-05 15:57] #243 closed

[2020-12-05 16:00] #313 closed

[2020-12-05 16:03] ericbeland commented on #193
Yes, if I understand you right. It is basically like a proxy factory. Try and see if you can find some examples in the client you're using.

[2020-12-05 16:03] #193 closed

[2020-12-05 16:05] ericbeland commented on #8
I'm closing this for now as we at least will be able to pass this traffic around in the next version, and we also have https://github.com/browserup/browserup-proxy/issues/9 to track this.

[2020-12-05 16:05] #8 closed

[2020-12-05 16:06] #228 closed

[2020-12-05 16:09] ericbeland commented on #77
We recently merged a PR with a hard-coded temporary bump, although we haven't gone as far as making it a config option, which would be nice to do.

[2020-12-05 16:09] #77 closed

[2020-12-05 16:14] #137 closed

[2020-12-05 16:25] ericbeland commented on #259
This is probably a way off as we need to digest our move to mitmproxy first, and we may have to first go backwards in our API before adding to it. I'm closing for now, but we'll keep it in mind as we look at reimplementations.

[2020-12-05 16:25] #259 closed

[2020-12-06 22:12] ericbeland commented on #281
PR merged here:  https://github.com/browserup/browserup-proxy/pull/337

[2020-12-06 22:12] #281 closed

[2020-12-08 10:23] alex4200 commented on #335
@ericbeland So it means your package (browserup/browserup-proxy) is currently broken and cannot be used at all? Is that correct?

[2021-01-18 08:38] mrbaco opened #355 "Response listeners dependencies error (2.1.2)"
**Describe the bug**
I got Netty dependency error when try to use response listener in my project:
`error: package io.netty.handler.codec.http does not exist`
Even I add Netty dependency in my project (try to add 4.1.44.Final and newer)

**To Reproduce**
I prepared a small example for this here: https://github.com/mrbaco/browserup_listeners

**Expected behavior**
Listeners work correctly, there is

[2021-01-19 09:15] aliowka commented on #243
Hi, any expectations on that?
Thanks!

[2021-01-20 19:48] PAVITHRA001 opened #356 "Support for Websockets in browserup proxy"
I am using standalone mode of browser up proxy using REST API
I read at one your sites, WebSocket will be supported
Is websocket calls supported in browserup proxy,
If supported how to use it?
If not supported is there a workaround for skipping websocket calls from proxy?

[2021-01-25 08:29] mrbaco commented on #258
Additional info: bug appears when using a chain of proxy.

[2021-02-19 23:24] dkbarn commented on #263
Fixed how? The linked PR shows a number of changes being made in files that are not present in either the 2.1.1 or 2.1.2 releases. Those releases contain an incomplete set of .jar files, and it's unclear how to properly integrate those .jar's into the 2.1.0 release. From what I can tell, 2.1.1 and 2.1.2 are unusable without building from source.

[2021-02-22 08:47] dagansandler opened #362 "v2.1.2 Release missing files"
**Describe the bug**

On the releases page, v2.1.2 release contains only `core` module jars. Distribution zip files for standalone server are missing.

[2021-02-23 15:44] ns-pdimarco opened #364 "Non Proxy Host still being forwarded to Proxy"
**Describe the bug**
In version `2.1.1` (`2.1.2` missing execution files) The Non Proxy Host specified to the proxy causes an error in `browserup-proxy` followed by the traffic being forwarded to the specified proxyHost. I tested this with creating a sauce connect proxy (https://wiki.saucelabs.com/display/DOCS/Sauce+Connect+Proxy) that points to a created `browserup-proxy` proxy.

**To Reproduce**

[2021-03-10 12:30] sbakharev commented on #362
Exactly. 20 assets instead of 30.

[2021-03-24 05:11] Archish27 opened #366 "Capture Request Content in HAR"
**Is your feature request related to a problem? Please describe.**
Currently, browserup captures request & response payload both by using `captureContent` params. Which in turn HAR cause huge har files. We need a way where there is only a need for capturing request content instead of both request & response.

**Describe the solution you'd like**
Capturing Request Content in HAR. Providing request

[2021-04-02 19:52] dkbarn opened #369 "waitForQuiescence always times out"
I am having trouble getting the /wait endpoint to behave as expected. No matter how short I set the quiet period, or how long I set the timeout, it always times out. For example, if I set quietPeriodInMs to 1 and timeoutInMs to 120000, it will take 120000 ms and timeout, even when there should be no traffic at all.

**To Reproduce**
1. Start a browserup server. For me this looks like:
```/opt/brow

[2021-05-24 23:34] ericbeland commented on #356
We had a lot of trouble with websockets and http/2 in the old architecture.  Instead, we have forked mitm proxy, and added some of our functionality on top of it. I you are interested in beta testing, it is on the branch named "main" here:  https://github.com/browserup/mitmproxy

We have clients in Java, Javascript, Ruby and Python.

I can give you instructions if you feel like trying it.

[2021-05-24 23:34] #356 closed

[2021-05-24 23:34] ericbeland commented on #356
Oh--it has websocket support working.

[2021-05-24 23:35] #188 closed

[2021-05-24 23:40] ericbeland commented on #9
We had a lot of trouble with websockets and http/2 in the old architecture.  Instead, we have forked mitm proxy, and added some of our functionality on top of it.  In the new iteration of the BrowserUp proxy in our mitmproxy based fork, we capture websocket traffic into the har. Also, it works with HTTP/2.

Anyone interested in beta testing, it is on the branch named "main" here:  https://github.c

[2021-05-24 23:40] #9 closed

[2021-05-24 23:42] ericbeland commented on #132
This implemented in the new proxy!  We use it to generate clients in Java, Javascript, Ruby and Python.

I you are interested in beta testing, it is on the branch named "main" here:  https://github.com/browserup/mitmproxy

See doc.html, or clients/examples to see usage.

[2021-05-24 23:42] #132 closed

[2021-05-24 23:43] ericbeland commented on #133
Working in our new proxy here:

[2021-05-24 23:43] #133 closed

[2021-07-11 17:50] VorobeyEugene opened #380 "Please provide bin archive for browserup-standalone version"

[2021-07-11 17:50] #380 closed

[2021-07-11 17:51] VorobeyEugene commented on #362
any updates here?

[2021-07-15 09:20] sankouski-dzmitry commented on #133
should we include rest clients into releases, to host it in maven repository?

[2021-08-02 08:12] apreg commented on #355
This workaround helped me
`  testCompile ('com.browserup:browserup-proxy-core:2.1.2'){
//        exclude group: 'io.netty', module: 'netty-all'
        exclude group: 'io.netty', module: 'netty-buffer'
        exclude group: 'io.netty', module: 'netty-codec'
        exclude group: 'io.netty', module: 'netty-common'
        exclude group: 'io.netty', module: 'netty-resolver'
        exclude group:

[2021-08-20 10:13] ghalkouski commented on #300
@Navakanthtunga Did you resolve this?

[2021-08-25 11:41] eduardrudko opened #383 "java.lang.reflect.InaccessibleObjectException on startup"
**Describe the bug**
java.lang.reflect.InaccessibleObjectException is thrown on running binary

**To Reproduce**
Steps to reproduce the behavior:
1. Run` ./browserup-proxy --port 8080`
2. See error

**Expected behavior**
Server has started

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Please complete the following information:**
 - OS: [e.g. iOS] MacOS BisSur 11.

[2021-10-11 21:58] jtnord opened #384 "logspam when reponse has no content"
**Describe the bug**

When a response to a request comes back from a server without any content type header the proxy creates a log entry

https://github.com/browserup/browserup-proxy/blob/26714e26fae728733a13a0f332bd0c6dcaa78de5/browserup-proxy-core/src/main/java/com/browserup/bup/filters/HarCaptureFilter.java#L484-L488

This is all fine and dandy - but the log is a warning and is logged even whe

[2021-10-11 22:32] jtnord commented on #384
one of the offending responsed as seen by firefox :
![image](https://user-images.githubusercontent.com/494726/136862993-44474dbf-2fc7-447f-be66-7b197276bdd4.png)

[2021-11-20 22:05] asolntsev opened #385 "I see "MalformedURLException: unknown protocol" in logs"
**Describe the bug**
Sometimes I see "MalformedURLException: unknown protocol" [error in logs](https://github.com/selenide/selenide/runs/4273875844?check_suite_focus=true), though everything works well.

I think BUP should just ignore such URLs like `content-signature-2.cdn.mozilla.net`. It seems these are some internal resources used by browser itself.

[code]

**Please complete the following inf

[2021-12-07 04:00] 580 commented on #362
I need to run the proxy service in standalone mode, and noticed the same issue.
Have you guys solved the issue? I have no experience with Gradle, can you provide the steps to build my own? Is there any conjuration need to be modified? Or can build it right after checkout the codes? Any information will be appreciated.  Thank you.

[2021-12-13 20:03] mtrea opened #388 "Please create a new release with the log4j patch"
Hi,

We use a compiled release of browserup downloaded from the tags page: https://github.com/browserup/browserup-proxy/tags

Is it possible to build a new release with the urgent log4j fix that was submitted in https://github.com/browserup/browserup-proxy/commit/11a9d57b8eb962353ce950008c9853af805101fc ? Thank you!

[2021-12-16 13:54] chao-xian commented on #388
Hi a big ➕  for this as we're trying to build a patched version, but the build is failing on a broken test.

[2021-12-16 15:54] jamietanna commented on #362
Hey folks - you can fetch the releases from Maven Central too - they're available at:

- https://mvnrepository.com/artifact/com.browserup/browserup-proxy-core/2.1.2
- https://mvnrepository.com/artifact/com.browserup/browserup-proxy-rest/2.1.2
- https://mvnrepository.com/artifact/com.browserup/browserup-proxy-mitm/2.1.2

(See `Files` pointing to the JAR file)

[2021-12-16 15:56] jamietanna commented on #362
The main thing missing from the artefact is the `-dist`, which I believe needs to be built yourselves locally

[2021-12-16 15:58] jamietanna commented on #388
It _should_ be possible to manage this yourselves - if you're using any of the pre-built libraries, simply adding the Log4J JARs (2.15.0 or 2.16.0) to the classpath should take priority over the versions as indicated in 2.1.2 of BrowserUp

[2021-12-16 23:37] ericbeland commented on #388
Let us know how this works @jamietanna and chao-xian.

I'm both sad and happy to announce that we are deprecating the BrowserUp Proxy.

We have instead moved over to the BrowserUp fork of the mitmproxy. It is available [here](https://github.com/browserup/mitmproxy) The reasons:

- After multiple tries, we could not make the current architecture support websockets and http/2. without a massive rewr

[2021-12-17 04:52] 580 commented on #388
Hi @ericbeland,

Thanks for the information. I'd love to try your mitmproxy fork.  I have some questions at the moment:
- Is there a Docker Image available for the server part?
- Does it support to intercept with response content? (I need to search and replace content from HTTPs Response body)

Any help would be appreciated, Thanks again.

[2021-12-17 09:05] valfirst commented on #388
Hi @ericbeland,

Do you have plans to transfer ownership (transfer this repository to another user or to an organization)? Or should the community proceed with one more fork?

Thanks

[2021-12-17 14:58] ericbeland commented on #388
I'm happy to bless a fork if there's someone looking to carry the ball forward in a serious way, or failing that, maintain dependency updates. We can direct others to that fork if they are looking to just stick with this particular proxy for legacy reasons.  We can't directly turn over ownership as it has our brand on it and is directly associated to us, so putting the code out of our control isn'

[2021-12-17 15:37] richardTowers commented on #388
Thanks for the clear comms @ericbeland!

For the log4j issue specifically, I've created a release on a fork of 2.1.2 which patches log4j to 2.16.0. I've uploaded the distZip of `-dist` I built locally:

https://github.com/richardTowers/browserup-proxy/releases/tag/v2.1.2-patch-log4j

We haven't tested this yet, but if people are struggling to find a build to use in the short term, feel free to try

[2021-12-23 13:20] valfirst commented on #388
I've created a fork: https://github.com/valfirst/browserup-proxy

@ericbeland I have a couple of questions:
1. are you ok if I keep naming: BrowserUp Proxy? (it refers to your company as I understand)
1. are you ok if I release `2.1.3` under my maven coordinates, but with base package name `com.browserup`? I'll change the base package name in `3.0.0`.

[2022-01-03 13:36] valfirst commented on #388
[`2.1.3`](https://repo1.maven.org/maven2/com/github/valfirst/browserup-proxy/) is released from the [fork]( https://github.com/valfirst/browserup-proxy).

[2022-01-03 15:06] ericbeland commented on #388
@valfirst Yes, you can keep the name on the fork--that's useful so people can find it.

[2022-01-19 10:17] sskorol commented on #291
@ericbeland it's still happening on 2.1.2

[code]

Note that I also see the following exceptions in log:
[code]

But it's hard to find a relationship as tests are executed concurrently.

[2022-01-20 12:57] adzmitrenka-redcapcloud opened #389 "405 Method Not Allowed"
**Describe the bug**
Get request return response code 405 Method Not Allowed with BrowserUp proxy started.
With out proxy everything working fine
![image](https://user-images.githubusercontent.com/94913250/150342210-27c712b9-40ee-41b1-b20b-63138a61fad0.png)

**To Reproduce**
Proxy started on port 0 with following settings:
BrowserUpProxy proxy = new BrowserUpProxyServer();

        proxy.setMitmDi

[2022-06-10 05:47] derRichter opened #391 "Please offer already builded JARs with all dependencies like jar-download.com"
Hey,

many thx to you, that you do browserup-proxy keep alive.
We are very happy we found this fork, but i not conform with that gradle etc. and there are no already builded Jar-Releases here?
Somethimes very helpful for downloads like that is https://jar-download.com/?search_box=browserup-proxy
because is with all dependencis.

Is it possible, that you upload pre-builded jar-releases from browser

[2022-06-10 05:52] #391 closed, assigned to nobody

[2022-06-10 05:55] derRichter opened #392 "Please offer already builded JARs with all dependencies like jar-download.com"
Hey,

many thx to you, that you do browserup-proxy keep alive.
We are very happy we found this fork, but i not conform with that gradle etc. and there are no already builded Jar-Releases here?
Somethimes very helpful for downloads like that is https://jar-download.com/?search_box=browserup-proxy
because is with all dependencis.

Is it possible, that you upload pre-builded jar-releases from browser

[2022-06-10 05:56] #392 closed, assigned to nobody

[2022-07-09 16:33] ir4georgia commented on #383
in bin/browserup-proxy, add a default jvm option setting like:

DEFAULT_JVM_OPTS=" --add-opens=java.base/java.lang=ALL-UNNAMED "

# Collect all arguments for the java command, following the shell quoting and substitution rules
eval set -- $DEFAULT_JVM_OPTS $JAVA_OPTS $BROWSERUP_PROXY_OPTS -classpath "\"$CLASSPATH\"" com.browserup.bup.proxy.Main "$APP_ARGS"

exec "$JAVACMD" "$@"

Newer versions of